<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,138}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{137,138}}</string>
                <key>sourceSize</key>
                <string>{151,160}</string>
            </dict>
            <key>button_gamelist.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{137,138}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{137,138}}</string>
                <key>sourceSize</key>
                <string>{151,160}</string>
            </dict>
            <key>button_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{137,138}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{137,138}}</string>
                <key>sourceSize</key>
                <string>{151,160}</string>
            </dict>
            <key>button_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{137,138}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{137,138}}</string>
                <key>sourceSize</key>
                <string>{151,160}</string>
            </dict>
            <key>button_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{137,138}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{137,138}}</string>
                <key>sourceSize</key>
                <string>{151,160}</string>
            </dict>
            <key>button_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,142},{137,138}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{137,138}}</string>
                <key>sourceSize</key>
                <string>{151,160}</string>
            </dict>
            <key>button_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,142},{137,138}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{137,138}}</string>
                <key>sourceSize</key>
                <string>{151,160}</string>
            </dict>
            <key>button_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,282},{137,138}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{137,138}}</string>
                <key>sourceSize</key>
                <string>{151,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_buttons.png</string>
            <key>size</key>
            <string>{419,421}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbde41c127e524e4dae83e25e8326b29:8cdd92e31df091fdf0a740a4db2fec4a:8cad5c0093737dcf5ac93b5d37d707ad$</string>
            <key>textureFileName</key>
            <string>game_buttons.png</string>
        </dict>
    </dict>
</plist>
